<launch>
    <arg name="sim_time_required" default="true"/>
    <param name="use_sim_time" value="$(arg sim_time_required)"/>

    <arg name="robot_name"/>

    <arg name="use_compressed_transport" default="true"/>
    <arg name="use_prerecorded_semantics" default="false"/>
    <arg name="use_semantics" default="true"/>
    <arg name="use_gt_frame" default="false"/>
    <arg name="robot_frame" default="$(arg robot_name)/base"/>
    <arg name="use_image_interface" default="false"/>
    <arg name="need_gt_publisher" default="false"/>
    <arg name="load_static_tfs" default="true"/>

    <arg name="rgb_info_topic" default="forward/color/camera_info"/>
    <arg name="rgb_topic" default="forward/color/image_raw"/>
    <arg name="depth_topic" default="forward/depth/image_rect_raw"/>
    <arg name="depth_info_topic" default="forward/depth/camera_info"/>
    <arg name="pointcloud_topic" default="semantic_pointcloud"/>

    <arg name="enable_rectification" default="true"/>

    <arg name="need_compressed"
         value="$(eval arg('use_compressed_transport') and not arg('use_prerecorded_semantics'))"/>

    <group ns="$(arg robot_name)">
        <include file="$(find hydra_ros)/launch/static_tfs/$(arg robot_name)_static_tfs.xml" if="$(arg load_static_tfs)"/>

        <include file="$(find hydra_ros)/launch/utils/gt_pose/robot_gt_pose.launch" pass_all_args="true"
                 if="$(eval arg('use_gt_frame') and arg('need_gt_publisher'))">
            <arg name="load_static_tfs" value="false"/>
        </include>

        <include file="$(find hydra_ros)/launch/sources/rgbd_to_pointcloud.xml" pass_all_args="true"
            unless="$(arg use_semantics)"/>

        <include file="$(find semantic_recolor)/launch/semantic_recolor.launch" pass_all_args="true"
            if="$(arg use_semantics)">
             <arg name="verbose" value="false"/>
             <arg name="rgb_image_transport" value="compressed" if="$(arg need_compressed)"/>
             <arg name="rgb_image_transport" value="raw" unless="$(arg need_compressed)"/>
             <arg name="enable_pointcloud" value="true" unless="$(arg use_image_interface)"/>
             <arg name="enable_pointcloud" value="false" if="$(arg use_image_interface)"/>
             <arg name="pointcloud_queue_size" value="40"/>
             <arg name="model_name" value="mobilenetv2_360_640"/>
        </include>
    </group>

</launch>
