<launch>
    <arg name="sim_time_required" default="true"/>
    <param name="use_sim_time" value="$(arg sim_time_required)"/>

    <arg name="use_semantics" default="true"/>
    <arg name="use_gt_frame" default="true"/>
    <arg name="use_image_interface" default="false"/>
    <arg name="robot_frame" default="base_link"/>
    <arg name="map_frame" default="map"/>

    <arg name="rgb_info_topic" default="/azure/rgb/camera_info"/>
    <arg name="rgb_topic" default="/azure/rgb/image_raw"/>
    <arg name="depth_topic" default="/azure/depth_to_rgb/image_raw"/>
    <arg name="pointcloud_topic" default="/semantic_pointcloud"/>

    <include file="$(find hydra_ros)/launch/utils/robot_gt_pose.launch" pass_all_args="true"
             if="$(arg use_gt_frame)">
      <arg name="parent_frame" default="$(arg map_frame)"/>
      <arg name="load_static_tfs" default="false"/>
    </include>

    <include file="$(find hydra_ros)/launch/sources/rgbd_to_pointcloud.xml" pass_all_args="true"
             unless="$(arg use_semantics)"/>

    <include file="$(find semantic_recolor)/launch/semantic_recolor.launch" pass_all_args="true"
             if="$(arg use_semantics)">
         <arg name="verbose" value="false"/>
         <arg name="enable_pointcloud" value="true" unless="$(arg use_image_interface)"/>
         <arg name="enable_pointcloud" value="false" if="$(arg use_image_interface)"/>
     </include>
</launch>
