<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
  <arg name="scene_graph" doc="filepath for scene graph to show" default="''"/>

  <arg name="visualizer_ns" default="hydra_dsg_visualizer" doc="visualizer namespace"/>
  <arg name="visualizer_frame" default="map"/>
  <arg name="color_mesh_by_label" default="true"/>
  <arg name="visualizer_config_path" default="$(find hydra_visualizer)/config/visualizer_config.yaml"/>
  <arg name="visualizer_plugins_path" default="$(find hydra_visualizer)/config/visualizer_plugins.yaml"/>
  <arg name="external_plugins_path" default="$(find hydra_visualizer)/config/external_plugins.yaml"/>

  <arg name="verbosity" default="0" doc="visualizer verbosity"/>
  <arg name="debug" default="false"/>
  <arg name="launch_prefix" value="$(eval 'gdb -ex run --args' if debug else '')"/>

  <node pkg="hydra_visualizer" type="hydra_visualizer_node" name="$(arg visualizer_ns)"
        launch-prefix="$(arg launch_prefix)"
        output="screen"
        required="true"
        args="-alsologtostderr -colorlogtostderr -v=$(arg verbosity)">
    <param name="visualizer_frame" value="$(arg visualizer_frame)"/>
    <param name="graph/type" value="GraphFromFile"/>
    <param name="graph/filepath" value="$(arg scene_graph)"/>
    <rosparam file="$(arg visualizer_config_path)" ns="config"/>
    <rosparam file="$(arg visualizer_plugins_path)" subst_value="true"/>
    <rosparam file="$(arg external_plugins_path)" subst_value="true"/>
  </node>

  <arg name="start_rviz" default="true" doc="automatically start rviz"/>
  <arg name="rviz_verbose" default="false" doc="set rviz to log to stdout"/>
  <arg name="rviz_dir" default="$(find hydra_visualizer)/rviz" doc="top-level rviz directory"/>
  <arg name="rviz_path" default="$(find hydra_visualizer)/rviz/hydra_visualizer.rviz" doc="rviz file to load"/>
  <group if="$(arg start_rviz)">
      <node name="rviz" pkg="rviz" type="rviz" output="$(eval 'screen' if rviz_verbose else 'log')" args="-d $(arg rviz_path)"/>
  </group>

</launch>
